.nav-link {
  color: #000;
}

.navbar {
  box-shadow: unset;
}

.nav-link:hover {
  color: #000;
}

/* .view img{
  max-height: 800px;
} */
.contact-gray{
  background-color: gray;
}
.first_slide{
  background-image: url('../img/image_2.jpg');
  background-size: cover;
  height: 700px
}

.second_slide{
  background-image: url('../img/image_1.jpg');
  background-size: cover;
  height: 700px
}

.third_slide{
  background-image: url('../img/image_3.jpg');
  background-size: cover;
  height: 700px
}

.big__impact {
  padding: 100px 0px;
  color: #fff;

  background-size: cover;
}
a_icon{
  color: unset !important;
}

.back_big__impact {
  background: #468cfc;
}
.my-item a {
  font-size: 18px;
}

/* .new-nav-link{
  color: red !important;
} */

.my-item a {
  font-size: 18px;
}

footer.page-footer a {
    color: unset;
}

.talent {
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 20px;
}

._20lightn {
  margin-top: 36px;
  padding-right: 148px;
  padding-left: 148px;
  font-family: 'Open Sans', sans-serif;
  /* color: #55565a; */
  font-size: 20px;
  line-height: 1.8;
  font-weight: 300;
  text-align: center;
}

._36light {
  margin-top: -9px;
  font-family: 'Open Sans', sans-serif;
  /* color: #55565a; */
  font-size: 25px;
  line-height: 1.8;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
}

.big__impact-section {
  padding: 80px 0px 50px 0px;
  color: #000;
}

.we__promise {
  padding: 0px 0px 50px 0px;
}

.join__the--team {
  padding: 50px;
}

.text-bold {
  font-weight: 400;
}

.apply__btn {
  background: #468cfc;
  color: #fff;
  border-radius: 50px;
}

.apply__btn:hover {
  background: #468cfc;
  color: #fff;
  border-radius: 50px;
}

.headers {
  font-size: 18px;
  font-weight: 400;
}

.index__header {
  font-family: 'Open Sans', sans-serif;
  color: #fbfafa;
  font-size: 50px;
  line-height: 1.6;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.ul-li li {
  list-style: none;
  /* margin: 0 auto; */
  margin: 5px 0px;
}

.social__icons {
  background: #fff;
  border-radius: 50px;
  padding: 15px 15px;
  font-size: 16px;
  color: blue;
  cursor: pointer;
}

.green-box {
  background: green;
  width: 25px;
  height: 25px;
  z-index: 200000;
  margin: 0 auto;
  border: 4px solid #ccc;
}

.blue-box {
  background: blue;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  z-index: 200000;
  border: 4px solid #ccc;
}

.red-box {
  background: red;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  z-index: 200000;
  border: 4px solid #ccc;
}

/* /////////////////// */

.tell__us {
  padding: 100px 0px;
}

.submit-btn {
  background: #468cfc;
  padding: 10px 50px;
  float: left;
  border-radius: 50px;
}

.form-control {
  border-radius: 0;
  border: 1px solid #deecff;
  background: #deecff;
}

.form-control:focus {
  border-radius: 0;
  border: 0px solid #deecff;
  background: #deecff;
}

.info {
  color: #919191;
}

.talk__expert {
  background: #3b80f6;
  padding: 40px;
  color: #fff;
}

.input {
  padding: 25px 15px;
}

/* contact */

.map {
  padding: 250px 0px;
  background-image: url('../img/Map - Dotted World Map.svg');
  background-size: cover;
}

.map__comment {
  margin-top: -90px;
  margin-left: -100px;
}

.quadrat {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  -webkit-animation: NAME-YOUR-ANIMATION 1s infinite;
  /* Safari 4+ */
  -moz-animation: NAME-YOUR-ANIMATION 1s infinite;
  /* Fx 5+ */
  -o-animation: NAME-YOUR-ANIMATION 1s infinite;
  /* Opera 12+ */
  animation: NAME-YOUR-ANIMATION 1s infinite;
  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%,
  49% {
    background-color: rgb(117, 209, 63);
  }
  50%,
  100% {
    background-color: #e50000;
  }
}

/* services */

.big__impact--backImg {
  background-image: linear-gradient(
      rgba(92, 151, 243, 0.51),
      rgba(92, 151, 243, 0.51)
    ),
    url('../img/service_header.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0px;
  background-position: top;
}

.wheather {
  padding: 80px 0px;
}

.pad-service {
  padding: 25px 30px;
}

.brands {
  padding: 20px 0px;
  overflow: hidden;
  /* border-bottom: 1px solid #ccc; */
}

.brands__pad {
  padding: 50px 0px;
}

.view__more {
  color: #000;
  padding: 15px 30px;
  border-radius: 50px;
}

.view__more:hover {
  color: #fff;
  background: #468cfc;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.work__with--us {
  padding: 50px 0px;
}

.work__with--us-div {
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
  /* width: 50%; */
}

.border__padding {
  padding: 50px 0px 20px 0px;
}

.contact__us {
  color: #fff;
  background: #468cfc;
  border-radius: 50px;
  text-transform: unset !important;
}

.contact__us:hover {
  color: #fff;
}

.typewrite {
  font-size: 40px !important;
}

/* about */

.bordar__width {
  position: relative;
  top: 30px;
  width: 70%;
  margin: 0 auto;
  border-top: 3px solid #ccc;
  z-index: -1000;
}

/* works */

.our__work {
  padding: 100px 0px;
}

.project__listing {
  padding: 100px 0px;
}

.learn__more {
  border-radius: 50px;
  background: #fff;
  color: #468cfc;
}

.social__icon {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  background: #fff;
  color: #468cfc;
  margin: 5px 5px;
}

.iconns {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.map__text {
  position: relative;
  top: -105px;
  font-size: 15px;
}

.design__in--mind {
  padding: 100px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/back.png');
  background-size: cover;
  background-position: center;
}

.line {
  letter-spacing: 2px;
}

.our__team {
  color: #fff;
  background: #3b80f6;
  border-radius: 50px;
}

.our__team:hover {
  color: #fff;
  background: #3b80f6;
  border-radius: 50px;
}

.our__clients {
  padding: 20px 0;
}

.beutiful__text {
  font-weight: 400;
  width: 100%;
}

._20sbg {
  font-family: 'Open Sans', sans-serif;
  /* color: #55565a; */
  font-size: 22px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

._34sb {
  font-size: 24px;
}

._22caps {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 22px;
  line-height: 0.864;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.navlink {
  padding: 30px 17px;
  float: none;
  font-family: 'Open Sans', sans-serif;
  /* color: #55565a; */
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
}

._369light {
  margin-top: 9px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  line-height: 1.8;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
  letter-spacing: 3px;
}

._58light {
  padding-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 1.6;
  font-weight: lighter;
  text-align: center;

  /* padding: 0 20px; */
}
.client__text {
  padding: 0px 0px 40px 0px;
  font-weight: 400;
  text-align: center;
}

.works_div {
  padding: 50px;
}

/* card */

.card__height {
  height: 250px;
  width: 100%;
  border-radius: 20px;
  background-image: url('https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg');
  background-size: cover;
}

.card__text {
  position: relative;
}

.card__text--one {
  position: absolute;
  bottom: 40px;
  left: 10px;
}

.card__text--two {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.brand__list {
  width: 25%;
  text-align: 'text-center';
  margin: 0 auto;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #468cfc;
  background-color: unset;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
  color: #4285f4 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.navbar.navbar-dark .breadcrumb .nav-item.focus > .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item.focus > .nav-link {
  color: #4285f4 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav-item a{
  color: #000 !important;
} 
.nav-link {
  color: #000;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
}

.col__pad {
  padding: 20px;
}

.caro__text {
  font-size: 50px !important;
}

.have-a-project {
  font-size: 20px;
  letter-spacing: 3px;
}
.cap__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.lightlarge {
  margin-top: 57px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 50px;
  line-height: 1.6;
  font-weight: 300;
  text-align: center;
}

.some__work {
  padding: 100px 0px;
}
.view__case--study {
  border-radius: 50px;
  background: #468cfc;
  margin-top: 50px;
}
.view__case--study:hover {
  border-radius: 50px;
  background: #468cfc;
  color: #fff;
}

.herotext {
  font-family: 'Open Sans', sans-serif;
  color: #fbfafa;
  font-size: 83px;
  line-height: 0.795;
  font-weight: 600;
  text-align: center;
}

/* responsive */

@media (max-width: 768px) {
  .navbar {
    text-align: center;
  }
  .page-footer {
    margin: 0 auto;
  }
  .logo {
    margin: 0 auto;
  }
}

/*  */

#animate p {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
